.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  font-size: 23px! important;
}
.d1{
  color: red !important;
}
.container-fluid {
  margin-left: 121px;
}
header{
  
  text-align: right;


}
input.form-control {
  margin-left: -153px;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-left: -140px;
}
.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 50.333333%;
  margin-left: 220px;
}
.required-field::before {
  content: "*";
  color: red;
}
.fa-pencil-square-o:before {
  content: "\f044";
  margin-left: 54px;
}
.fa-trash-o:before {
  content: "\f014";
  margin-left: 50px;
}
.sidenav {
  height: 100%;
  width: 273px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#2c2c2c;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: centre! important;
  
  margin-left: -23px
}
.col-sm-12 {
  flex: 0 0 100%;
  max-width: 97%;
}

/* row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -63px;
  margin-left: -45px;
} */


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color:white;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
  margin-left: -14px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 84%!important;
  margin-left: 225px!important;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* div{
  margin-left:35px;
} */


/* i.fa.fa-table {
  font-size: initial;
  margin-left: 67px;
} */

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.fa{
  margin-bottom: 45px;
    margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}
/* form {
  background-image: url(https://uicookies.com/wp-content/uploads/2019/10/free-bootstrap-school-templates-1000x750.jpg);

} */
/* .Cardbody
{
  background-color: red;
} */
.fa  {
  color: black;
  margin-left: -56px!important;
}



.navbar a:hover {
  background-color:white;
}
.active {
  background-color: #4CAF50;
}
.navbar {
  width: 100%;
  background-color: #f4f3ef;
  overflow: overflow;
  /* border-bottom: 1px solid #ddd!important; */
}
html{
  background-color: #f4f3ef;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: -22px;
  /* border-bottom: 1px solid #ddd!important; */
  margin-bottom: -48px ;
  margin-left: 879px;
  margin-top: -7px! important;
  
  
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color:black;
  text-decoration: none;
  font-size: 17px;
  margin-top: -7px;

}
.numbers {
  font-size: 21px;
  margin-left: -49px;
  margin-top: -45px;
}
 .card-body {
  padding: 15px 15px 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 35px!important;
  margin-bottom: -52px;
    margin-left: -201px;
}
/* @media screen and (min-width: 992px){
.sidebar .sidebar-wrapper li.active>a:not([data-toggle=collapse]):after {
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    right: -15px;
    top: 7px;
}
} */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 118px !important;
   padding: 15px 15px 0; 
  margin-bottom: -7px;
  width:93% !important;
  margin-top:31px;
}
.card-footer:last-child {
  
  margin-top: -58px;
}
.fa-globe:before {
  content: "\f0ac";
  color: orange!important; 
  margin-left: -205px;
}
.fa-money:before {
  content: "\f0d6";
  color: green! important;
  margin-left: -205px;
}
.fa-empire:before {
  content: "\f1d1";
  color: red! important;
  margin-left: -205px;
}
.fa-heart:before {
  content: "\f004";
  color: black !important;
  margin-left: -205px;
}
.fa {
  color: white;

}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-top: -47px ;
}
/* i.fa.fa-user.fa-2x {
  font-size: 24px;
} */

.fa-history:before {
  content: "\f1da";
  margin-left: 57px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  
  border-radius: 0.75rem ! important;
}
p1 {
  margin-left: 163px! important;
  font-size: 24px;
  margin-bottom: -42px;
  margin-top: 7px;
}
.fa-bell:before {
  content: "\f0f3";
  color: grey;
}
.fa-list-ul:before {
  content: "\f0ca";
  color:gray;
}
.fa-cog:before {
  content: "\f013";
  color:grey;
}
.fa-search:before {
  content: "\f002";
  color:grey;
}
div#root {
  background-color: #f4f3ef;
}
.fa-table:before {
  content: "\f0ce";
  margin-left: -16px;
}
div#mySidenav {
  text-align: center;
}
/* .card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
} */
.label1{
  width: 32% !important;
  padding: 10px 10px;
  justify-content:space-around;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: -4px !important;
  font-weight: bold;
}
.container.twidth {
  max-width: 1201px;
    margin-left: 300px;
}
input#p2 {
  margin-left: 632px;
  width:256px;
}
input#p1 {
  margin-left: 632px;
  width:256px;
}
input#p3 {
  margin-left: 632px;
  width:256px;
}
input#p4 {
  margin-left: 632px;
  width:256px;
}
input#p5 {
  margin-left: 632px;
  width:256px;
}
h3 {
  font-size: 29px;
  margin-left: 634px;
}
button#b1 {
  margin-left: 635px;
  margin-top: 24px;
  margin-bottom: 23px;
}
/* label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-left: 632px;
  font-size: 18px;
    margin-top: 1px;
    margin-bottom: 12px;
} */

select {
  word-wrap: normal;
  margin-left: 632px!important;
  width:256px;
}
.col-md-7 {
  margin-left: 12px!important;
}
.col-md-3 {
  margin-left: 179px;
}
textarea.form-control {
  height: auto;
  margin-left: -152px;
}
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 40%!important;
}
.ml-auto {
  margin-left: -110px!important;
}